*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* img{
    width: 100%;
    height: auto;
    display: block;
} */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}
header{
    background-color: bisque;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding: 20px;
}
header :is(input, select){
    padding: 5px;
    display:block;
    width: 100%;
    margin-bottom: 10px;
}
header button{
    padding: 5px;
    margin-bottom: 10px;
}

#pacientes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;/* separacion de columnas en un sistema flexible*/
    padding: 10px;
}
#pacientes article{
width: 100%;
border: 2px solid black;
padding: 10px;
}
@media(min-width: 768px){
    #pacientes article{
        width: calc(50% - 10px);
        }
}
@media(min-width: 1004px){
    #pacientes article{
        width: calc(33.333% - 10px);
        }
}

